html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 700;
    font-size: 12px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

header, main, footer {
    display: flex;
    width: 375px;
    margin: 0 auto;
}

header {
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid #C6C6C6;
    border-right: 1px solid #C6C6C6;
    padding: 0 8px;
}

main {
    flex-direction: column;
    border: 1px solid #C6C6C6;
    .post {
        display: flex;
        flex-direction: column;
        .post-header {
            display: flex;
            justify-content: flex-start;
            margin-top: 15px;
            gap: 15px;
            .light-text {
                display: block;
            }
        }
        .post-img {
            width: 100%;
            height: auto;
        }
        .post-actions {
            display: flex;
            justify-content: flex-start;
            margin-top: 15px;
            gap: 15px;
            .post-action {
                height: 22px;
                width: auto;
            }
        }
    }
}

.light-text {
    font-weight: 400;
}


.logo {
    width: 125px;
}

.user {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}