html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 300;
    font-size: 12px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

header, main, footer {
    display: flex;
    width: 375px;
    margin: 0 auto;
}

header {
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid #C6C6C6;
    border-right: 1px solid #C6C6C6;
    padding: 0 8px;
}

main {
    flex-direction: column;
    .post {
        display: flex;
        flex-direction: column;
        border: 1px solid #C6C6C6;
        padding-bottom: 20px;
        .post-header {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 10px;
            gap: 15px;
            .user-info {
                display: flex; 
                flex-direction: column;
                .user-name {
                    font-weight: 700;
                }
                .post-location {
                    font-weight: 300;
                }
            }
        }
        .post-img {
            width: 100%;
            height: auto;
        }
        .post-actions {
            display: flex;
            justify-content: flex-start;
            margin-top: 15px;
            gap: 15px;
            margin: 10px 0 0 10px;
            .post-action {
                height: 22px;
                width: auto;
            }
        }
    }
}

.post-info {
    margin: 10px 0 0 12px;
    .user-name, .post-likes {
        font-weight: 700;
        margin: 10px 0;
    }
    .user-comment {
        font-weight: 300;
        margin: 5px;
    }
}

.post-action:hover{
    opacity: 0.6;
}

.user-name, .post-likes {
    font-weight: 700;
}

.user-comment {
    font-weight: 300;
    margin: 5px;
}

.logo {
    width: 125px;
}

.user {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

